# Dependencies
node_modules/

# Build
dist/
*.local

# Env
.env
.env.*
!.env.example

# Logs & cache
*.log
npm-debug.log*
.cache/

# Editor / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Optionnel : décommenter si vos vidéos/images sont très lourdes et gérées ailleurs
# *.mp4
# *.webm
# *.mov
